h3 span {
    display: inline;
    font-size: 1rem; 
    font-weight: normal; 
}


h4 {
    margin-bottom: 0px;
    font-size: 0.95rem;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-top: 5px;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

a {
    color: black;
}

.center {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.content1 { 
    display: flex; 
    justify-content: center;
}

.content1 .main { 
    width: 500px; 
    padding: 15px; 
    margin: 10px 20px; 
    border-radius: 15px;
    background-color: #eeeaea

}

.container{
    display: flex;
    gap: 75px;

}