.center {
    width: 1500px;
    border: 2px solid black;
    margin: auto;
    border-radius: 45px;
    background-color: #eeeaea;
}

.text_bold {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 25px;
    text-align: center;
}

.text_normal {
    margin: 25px ;
    font-size: 2rem;
}

.indent {
    margin-left: 45px;
}

a {
    color: black;
}
